<body>
<main>
  <div class="container">
  <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

  <h2>Editing Book</h2>
  <div class="form-group">
  
  <% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

  
  <%= form_with model: @book do |f| %>
  <h6>Title</h6>
  <div><%= f.text_field :title %></div>
  <h6>Opinion</h6>
  <div><%= f.text_area :body %></div>

  <%= f.submit 'Update Book' %>
  <% end %>


<%= link_to "Show", book_path(@book.id) %>
<%= link_to "Back", books_path %>
</div>
</div>
</div>
</main>
</body>